h1, h2, h3 .main_desc {
    text-align: center;
    }

.model_desc {
    display: block;
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
        
}
.conf_desc {
    display: block;
    line-height: 1.6;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
    
.my_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table,th,td {
    margin: 1em auto;
    border: 2px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}
.header {
    background: lightslategray;
}
.group {
    background: lightgray;
}
.total {
    background: #F5F5F5;
}

.link {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}