h1,.main_desc {
    text-align: center;
}

h3 {
    text-align: center;
}

.conf_desc {
    text-align: center;
}

.my_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table,th,td {
    margin: 1em auto;
    border: 2px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
    text-align: center;
}
.header {
    background: lightslategray;
}
.group {
    background: lightgray;
}