h1,p {
    background: white;
    text-align: center;
}

div {
    /*align-content: center;*/
    text-align: center;
}

button {
    border-radius: 3px;
}

.upload {
    padding: 0px 0px 0px 165px;
}

.hide {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}